{% load static%}
{% load i18n %}
{# Load the tag library #}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans "Betting" %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bet/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'bet/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'bet/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'bet/css/landing-page.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'users:home' %}">{% trans "Betting" %}</a>
      {% block nav %}
        {% if user.authenticated %}
          <a class="btn btn-primary" href="{% url 'auth_logout' %}">{% trans "logout" %} </a>
        {% endif %}
      {% endblock %}
    </div>
  </nav>

{% block header %}
  
  {% if not user.authenticated %}
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">

        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Betting Signup or Login for players or hierarchy user</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-6 col-md-6 mb-2 mb-md-0">
                  <a href="{% url 'users:onlineplayer:auth_login' %}" class="btn btn-block btn-lg btn-primary">Sign up or Sign in as Player</a>
                </div>
                <div class="col-6 col-md-5">
                  <a href="{% url 'users:auth_login' %}" class="btn btn-block btn-lg btn-primary">Sign in as Hierarchy user</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
  {% endif %}
{% endblock %}

  <!-- Testimonials -->
  {% block container %}
  
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">{% trans "Play games and win" %}</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'bet/img/satta-matka.jpeg' %}" alt="">
              <h5>{% trans "Satta Matka" %}</h5>
              <p class="font-weight-light mb-0">{% trans "Play Satta Matka and win" %}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'bet/img/cricket.png' %}" alt="">
              <h5>{% trans "Cricket" %}</h5>
              <p class="font-weight-light mb-0">{% trans "Cricket Bet and Win" %}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'bet/img/football.jpg' %}" alt="">
              <h5>{% trans "Football" %}</h5>
              <p class="font-weight-light mb-0">{% trans "football Bet and Win" %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">{% trans "About" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% trans "Contact" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% trans "Terms of Use" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% trans "Privacy Policy" %}</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">
          &copy; {% trans "Your Website 2020. All Rights Reserved." %}</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'bet/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bet/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
